<div class="container">
  <div class="bg-light p-5 rounded my-4">
    <h2 class="col-12 ms-2">質問の編集</h2>
  </div>
  <%= render 'form', question: @question %>

  <div class="my-4">
    <%= link_to '現在の質問に戻る', question_path(@question), class: "link-success" %><br>
    <%= link_to '質問投稿一覧に戻る', questions_path, class: "link-success" %>
  </div>
</div>


