<div class="container justify-content-center p-5">
  <div class="bg-light p-5 rounded my-4">
    <h2 class="col-12 ms-2">質問投稿</h2>
  </div>
  <%= render 'form', question: @question %>

  <div class="my-4">
    <%= link_to '前のページに戻る', request.referer || root_path, class: "link-success me-3" %>
    <%= link_to "質問投稿一覧", questions_path, class: "link-success me-3" %>
    <%= link_to "回答募集一覧", answers_path, class: "link-success me-3" %>
  </div>
</div>
