<div class="container container-space">
  <div class="bg-light p-5 rounded my-4">
    <h2 class="col-12 text-center"><%= @admin_article.title %></h2>
  </div>

  <% if @admin_article.image.attached? %>
    <%= image_tag @admin_article.image, class: "card-img-top article-show-img" %>
  <% end %>

  <div class="my-3">
  <p class="text-center"><%= @admin_article.content.html_safe %></p>
  </div>

  <div class="my-5">
    <%= link_to "トップページ", root_path, class: "link-success me-3" %>
  </div>
</div>
