@import '~bootstrap/scss/bootstrap';

.user_color{
  background-color: #d76483;
}

.best-answer{
  background-color: #D4D650;
}

.header-nav-menu li {
  text-align: left;
}

.best {
  background-color: red;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
